name: CI
on: [push]
jobs:
   test:
      runs-on: ubuntu-latest
      defaults:
         run:
            working-directory: api
      steps:
         - uses: actions/checkout@v5
         - uses: actions/setup-go@v5
           with:
              go-version-file: api/go.mod
         - run: go test -coverprofile=cover.out ./...